* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
}

a {
  text-decoration: none;
  color: #111111;
  display: block;
}
a:hover {
  color: #111111;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#app {
  width: 100%;
}

.header {
  width: 100%;
  height: 84px;
  max-height: 100%;
  background-color: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.header__logo {
  height: 84px;
}
.header__logo a {
  width: 100px;
}
.header__menu {
  width: 100%;
}
.header__menu-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100%;
}
.header__menu-item {
  margin-right: 15px;
  position: relative;
  display: inline-block;
  line-height: 84px;
}
.header__menu-item a {
  font-size: 1.3rem;
  font-weight: 400;
}
.header__menu-item::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  bottom: 30px;
  background-color: #ce0003;
  transform: scale(0);
  opacity: 0;
  transition: all 0.4s;
}
.header__menu-item:hover::before {
  transform: scale(1);
  opacity: 1;
}
.header__menu-item.active::before {
  transform: scale(1);
  opacity: 1;
}
.header__menu__women, .header__menu__men, .header__menu__kid {
  position: relative;
}
.header__menu__women-list, .header__menu__men-list, .header__menu__kid-list {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  top: 60px;
  position: absolute;
  z-index: 20;
  background-color: #ffffff;
  width: 250px;
  min-width: 100%;
  border-radius: 10px;
  overflow: hidden;
  display: none;
  transition: all 0.4s;
  padding: 0;
}
.header__menu__women-item, .header__menu__men-item, .header__menu__kid-item {
  padding: 0 20px;
  line-height: 36px;
}
.header__menu__women-item a, .header__menu__men-item a, .header__menu__kid-item a {
  display: inline-block;
}
.header__menu__women-item:hover, .header__menu__men-item:hover, .header__menu__kid-item:hover {
  background-color: #f4f4f4;
}
.header__menu__women:hover .header__menu__women-list, .header__menu__women:hover .header__menu__men-list, .header__menu__women:hover .header__menu__kid-list, .header__menu__men:hover .header__menu__women-list, .header__menu__men:hover .header__menu__men-list, .header__menu__men:hover .header__menu__kid-list, .header__menu__kid:hover .header__menu__women-list, .header__menu__kid:hover .header__menu__men-list, .header__menu__kid:hover .header__menu__kid-list {
  display: block;
}
.header__search {
  width: 100%;
  height: 40px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  right: -24px;
}
.header__search-box {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: nowrap;
  flex-direction: row;
  transition: all 0.4s;
}
.header__search-box.open {
  width: 100%;
  border: 1px solid #111111;
}
.header__search-box-input {
  width: 100%;
  height: 100%;
  padding: 0 15px;
  outline: none;
  border: none;
}
.header__search-box-icon {
  position: absolute;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 1.6rem;
  line-height: 40px;
  cursor: pointer;
  color: #111111;
  background: #ffffff;
}
.header__search-history {
  position: absolute;
  background-color: #ffffff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  left: 0;
  top: 105%;
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
  display: none;
}
.header__search-history.open {
  display: block;
}
.header__search-history-list {
  overflow: hidden;
}
.header__search-history-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  height: 40px;
  padding: 0 15px;
  cursor: pointer;
}
.header__search-history-item:hover {
  background-color: #f4f4f4;
}
.header__search-history-text {
  font-size: 1.2rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
}
.header__search-history-close {
  margin-left: 15px;
  font-size: 1.6rem;
  cursor: pointer;
  color: #111111;
}
.header__auth {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  font-size: 1.3rem;
  color: #666;
  font-weight: 200;
  line-height: 84px;
  margin: 0 20px;
}
.header__auth a {
  color: #666;
  font-weight: 400;
}
.header__auth a:hover {
  color: #111111;
}
.header__services {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  line-height: 84px;
  text-align: center;
}
.header__services i {
  font-size: 2rem;
  margin-right: 18px;
  cursor: pointer;
}
.header__services-favorite {
  position: relative;
  color: #111111;
}
.header__services-favorite-quantity {
  position: absolute;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  background-color: #111111;
  color: #ffffff;
  border-radius: 50%;
  top: 12px;
  right: 10px;
}
.header__services-cart {
  color: #111111;
  position: relative;
}
.header__services-cart-quantity {
  position: absolute;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  background-color: #111111;
  color: #ffffff;
  border-radius: 50%;
  top: 12px;
  right: 10px;
}
.header__services-cart:hover .header__services-cart-wrapper {
  display: block;
}
.header__services-cart-wrapper {
  position: absolute;
  width: 450px;
  right: 15px;
  top: 60px;
  padding: 10px;
  background-color: #ffffff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
  display: none;
  transition: all 0.4s;
}
.header__services-cart-wrapper::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 20px;
  background-color: red;
  z-index: 10;
  top: -12px;
  right: 0;
  background: transparent;
}
.header__services-cart-list {
  width: 100%;
}
.header__services-cart-item {
  width: 100%;
  height: 80px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}
.header__services-cart-item:hover {
  background-color: #f9f9f9;
}
.header__services-cart-item-img {
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
  border: 2px solid #111111;
}
.header__services-cart-item-info {
  height: 80px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}
.header__services-cart-item-name {
  max-width: 70%;
  margin-left: 10px;
  display: inline-block;
  font-size: 1.4rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
}
.header__services-cart-item-price {
  display: inline-block;
  font-size: 1.3rem;
  font-weight: 600;
}
.header__services-cart-item-price span {
  margin-right: 10px;
  font-weight: 500;
}
.header__services-cart-item-close {
  font-size: 1.4rem;
  cursor: pointer;
  flex-shrink: 0;
  margin-left: 10px;
  color: #111111;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: relative;
  margin-right: 5px;
}
.header__services-cart-item-close i {
  position: absolute;
  top: 5px;
  right: -9px;
}
.header__services-cart-item-close:hover {
  color: #ffffff;
  background-color: #111111;
}
.header__services-cart-link {
  display: block;
  text-align: center;
  font-size: 1.4rem;
  color: #111111;
  padding: 0 40px;
  margin-top: 20px;
  display: none;
}
.header__services-cart-link a {
  display: inline-block;
  width: 60%;
  margin: 0 5px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 15px;
  color: #111111;
  border: 1px solid #111111;
}
.header__services-cart-link a:hover {
  color: #ffffff;
  background-color: #111111;
}
.header__services-cart-link.show {
  display: block;
}
.header__services-cart-empty {
  font-size: 1.6rem;
}
.header__services-cart-empty.hide {
  display: none;
}

.register,
.login {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 200;
}
.register__overlay,
.login__overlay {
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}
.register.show,
.login.show {
  display: flex;
}
.register.show .register__overlay,
.register.show .login__overlay,
.login.show .register__overlay,
.login.show .login__overlay {
  display: flex;
}
.register__container,
.login__container {
  z-index: 10;
  width: 380px;
  border-radius: 15px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}
.register__close,
.login__close {
  position: absolute;
  top: -25px;
  right: -25px;
  color: #ffffff;
  font-size: 2.6rem;
  cursor: pointer;
}
.register__close:hover,
.login__close:hover {
  transform: scale(1.1);
}
.register__heading,
.login__heading {
  font-size: 2rem;
}
.register__desc,
.login__desc {
  font-size: 1.4rem;
  margin: 10px 0 30px 0;
}
.register__form,
.login__form {
  width: 100%;
}
.register__form-group,
.login__form-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: column;
  margin-bottom: 15px;
}
.register__form-group label,
.login__form-group label {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 4px;
}
.register__form-group label span,
.login__form-group label span {
  color: rgb(171, 0, 0);
  font-size: 1.5rem;
}
.register__form-group input,
.login__form-group input {
  width: 100%;
  padding: 10px 10px;
  border-radius: 5px;
  outline: none;
  font-size: 1.4rem;
  border: 1px solid #ccc;
}
.register__form-submit,
.login__form-submit {
  width: 100%;
  height: 40px;
  border-radius: 15px;
  background-color: #111111;
  color: #ffffff;
  font-size: 1.6rem;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.2s;
}
.register__form-submit:active,
.login__form-submit:active {
  transform: scale(1.01);
}
.register__separate,
.login__separate {
  width: 100%;
  height: 1px;
  background-color: rgb(234, 234, 234);
  margin: 40px 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
.register__separate::before,
.login__separate::before {
  position: absolute;
  content: "Or";
  top: 50%;
  transform: translateY(-50%);
  background-color: #ffffff;
  font-size: 1.6rem;
  color: #111111;
  padding: 10px;
}
.register__link,
.login__link {
  margin: 15px 0;
}
.register__link-item,
.login__link-item {
  width: 100%;
  text-align: center;
  border: 1px solid #111111;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  font-size: 1.5rem;
  border-radius: 15px;
  margin-bottom: 12px;
  transition: all 0.5s;
}
.register__link-item i,
.login__link-item i {
  margin-right: 10px;
  font-size: 1.8rem;
}
.register__link-item:hover span,
.login__link-item:hover span {
  text-decoration: underline;
}
.register__policy,
.login__policy {
  text-align: center;
  line-height: 1.5;
  font-size: 1.2rem;
}
.register__policy span,
.login__policy span {
  text-decoration: underline;
  cursor: pointer;
}

.login__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-bottom: 30px;
}
.login__go-register {
  font-size: 1.3rem;
  background-color: transparent;
  cursor: pointer;
  padding: 10px;
  border-radius: 15px;
  border: 2px solid #111111;
}
.login__go-register:hover {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

@keyframes contentShowUp {
  from {
    display: none;
    transform: translate(-50%, 200%);
    opacity: 0;
  }
  to {
    display: block;
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}
.banner {
  margin-top: 94px;
  width: 100%;
}
.banner__large {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 600px;
}
.banner__large-list {
  width: 100%;
}
.banner__large-item {
  width: 100%;
  height: 600px;
  display: inline-block;
  background-position: 50% 50%;
  position: absolute;
  transition: all 1s ease;
}
.banner__large-item:nth-child(1) {
  transform: translateX(-100%);
}
.banner__large-item:nth-child(2) {
  transform: translateX(0);
}
.banner__large-item:nth-child(2) .banner__large-item-content {
  animation: contentShowUp 1s forwards;
}
.banner__large-item:nth-child(n+3) {
  transform: translateX(100%);
}
.banner__large-item-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}
.banner__large-item-content h3 {
  font-size: 2.4rem;
}
.banner__large-item-content h1 {
  margin: 20px 0 28px 0;
  font-size: 7rem;
  font-weight: 500;
}
.banner__large-item-content a {
  display: inline-block;
  width: 150px;
  height: 40px;
  text-align: center;
  color: #ffffff;
  line-height: 40px;
  font-size: 1.5rem;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid currentColor;
  transition: all 0.4s;
}
.banner__large-item-content a:hover {
  background-color: #111111;
}
.banner__large-direction {
  position: absolute;
  z-index: 20;
  top: 45%;
  width: 100%;
}
.banner__large-direction button {
  position: absolute;
  background: transparent;
  border-radius: 50%;
  color: #ffffff;
  font-size: 1.8rem;
  cursor: pointer;
  border: 2px solid currentColor;
  width: 50px;
  height: 50px;
  transition: all 0.4s;
}
.banner__large-direction button:hover {
  background-color: #111111;
}
.banner__large-direction-prev {
  left: 5%;
}
.banner__large-direction-next {
  right: 5%;
}
.banner__small {
  margin-top: 10px;
  width: 100%;
}
.banner__small-item {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  border-radius: 15px;
  overflow: hidden;
}
.banner__small-item-img {
  transition: all 0.5s;
}
.banner__small-item:hover .banner__small-item-img {
  filter: brightness(80%);
}
.banner__small-item:hover .banner__small-item-content {
  top: 50%;
  opacity: 1;
}
.banner__small-item-content {
  position: absolute;
  color: #ffffff;
  top: 100%;
  opacity: 0;
  text-transform: uppercase;
  text-align: center;
  transition: all 0.5s;
}
.banner__small-item-content h3 {
  font-size: 1.8rem;
}
.banner__small-item-content h1 {
  font-size: 4rem;
  font-weight: 500;
  margin: 20px 0 30px 0;
}
.banner__small-item-content a {
  display: inline-block;
  color: #ffffff;
  font-size: 1.7rem;
  position: relative;
  transition: all 0.4s;
}
.banner__small-item-content a:hover {
  position: relative;
  display: inline-block;
}
.banner__small-item-content a:hover::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  bottom: -3px;
  background-color: #ce0003;
}

.product {
  margin: 80px 0 50px 0;
  width: 100%;
}
.product__header {
  width: 100%;
  margin-bottom: 30px;
  align-items: center;
}
.product__header-heading {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 30px;
  position: relative;
  display: inline-block;
}
.product__header-heading::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  bottom: -3px;
  background-color: #ce0003;
}
.product__header-menu-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}
.product__header-menu-item {
  margin-left: 20px;
  font-size: 1.6rem;
  cursor: pointer;
  color: #111111;
}
.product__header-menu-item.active {
  position: relative;
  display: inline-block;
}
.product__header-menu-item.active::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  bottom: -3px;
  background-color: #ce0003;
}
.product__list {
  display: none;
}
.product__list.show-product-by-panel {
  display: block;
}
.product__item {
  background-color: #ffffff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  cursor: pointer;
  position: relative;
}
.product__status {
  position: absolute;
  padding: 8px 12px;
  font-size: 1.3rem;
  left: -6px;
  text-transform: uppercase;
  z-index: 10;
}
.product__status span {
  color: #ffffff;
}
.product__status::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  left: 0;
  bottom: -5px;
  border-right: 5px solid currentColor;
  border-bottom: 5px solid transparent;
  filter: brightness(60%);
}
.product__status-new {
  color: green;
  background-color: green;
}
.product__status-out-stock {
  color: #111111;
  background-color: #111111;
}
.product__status-discount {
  color: #ce0003;
  background-color: #ce0003;
}
.product__img {
  width: 100%;
  height: 300px;
  overflow: hidden;
  z-index: 1;
}
.product__img img {
  transition: all 0.4s;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product__img:hover img {
  transform: scale(1.2);
}
.product__details {
  padding: 10px 20px;
  background-color: inherit;
  z-index: 3;
}
.product__name {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 5px;
  height: 40px;
  line-height: 1.3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
}
.product__rating {
  margin: 15px 0;
}
.product__rating-star {
  font-size: 1.2rem;
  color: #111111;
}
.product__rating span {
  font-size: 1.2rem;
  font-weight: 500;
}
.product__price {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 15px;
}
.product__price-old {
  text-decoration: line-through;
  color: #868686;
  margin-right: 10px;
}
.product__price-cur {
  font-weight: 500;
}
.product__author {
  font-size: 1.3rem;
  color: #868686;
  margin-bottom: 10px;
}
.product__item:hover .product__services {
  top: 55%;
  opacity: 1;
}
.product__services {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
  z-index: 1;
  opacity: 0;
  transition: all 0.5s;
}
.product__services-favorite, .product__services-add-cart {
  width: 40px;
  margin: 0 5px;
  height: 40px;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  line-height: 40px;
  font-size: 1.8rem;
  border-radius: 50%;
  background-color: rgba(45, 45, 45, 0.3);
  transition: all 0.3s;
}
.product__services-favorite.active, .product__services-add-cart.active {
  background-color: green;
}
.product__services-favorite:hover, .product__services-add-cart:hover {
  transform: rotate(360deg);
}
.product__services-favorite.active {
  background-color: red;
}

.category {
  margin-bottom: 50px;
  padding: 20px;
  overflow: hidden;
}
.category__header {
  font-size: 2.5rem;
  position: relative;
  display: inline-block;
  margin-bottom: 35px;
  text-transform: uppercase;
}
.category__header::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  bottom: -3px;
  background-color: #ce0003;
}
.category__item {
  height: 515px;
  position: relative;
  margin-bottom: 10px;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.5s;
}
.category__item:hover .category__item-img {
  filter: brightness(60%);
}
.category__item:hover a {
  transform: translateY(0);
  opacity: 1;
}
.category__item-img {
  width: 100%;
  height: 100%;
}
.category__item-content {
  position: absolute;
  color: #ffffff;
  top: 50%;
  left: 10%;
}
.category__item-heading {
  font-size: 2.5rem;
}
.category__item-quantity {
  margin: 10px;
  font-size: 1.4rem;
  color: #ffffff;
}
.category__item a {
  color: #ffffff;
  width: 100px;
  height: 38px;
  position: absolute;
  font-size: 1.7rem;
  line-height: 38px;
  text-align: center;
  border: 1px solid #ffffff;
  text-transform: uppercase;
  transition: all 0.5s;
  transform: translateY(-100px);
  opacity: 0;
}
.category__item a:hover {
  background-color: #111111;
}

.feature {
  max-width: 100%;
  overflow: hidden;
}
.feature__header {
  font-size: 2.5rem;
  position: relative;
  display: inline-block;
  margin-bottom: 35px;
  text-transform: uppercase;
}
.feature__header::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  bottom: -3px;
  background-color: #ce0003;
}
.feature__wrapper {
  max-width: 100%;
  height: 440px;
  overflow: hidden;
  position: relative;
}
.feature__list {
  height: 100%;
  overflow: hidden;
  position: relative;
}
.feature__item {
  width: 290px;
  height: 400px;
  background-color: #ffffff;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  transition: 1s;
}
.feature__item:nth-child(1) {
  transform: translateX(-200%);
}
.feature__item:nth-child(2) {
  transform: translateX(0%);
}
.feature__item:nth-child(3) {
  transform: translateX(105%);
}
.feature__item:nth-child(4) {
  transform: translateX(210%);
}
.feature__item:nth-child(5) {
  transform: translateX(315%);
}
.feature__item:nth-child(n+6) {
  transform: translateX(430%);
}
.feature__item-info {
  padding: 10px;
}
.feature__item-name {
  font-size: 1.5rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  line-height: 1.3;
  font-weight: 500;
  height: 38px;
}
.feature__item-auth {
  font-size: 1.3rem;
  margin-bottom: 10px;
}
.feature__item-price {
  font-size: 1.8rem;
  font-weight: 600;
}
.feature button {
  position: absolute;
  top: 30%;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #ffffff;
  border: 2px solid currentColor;
  font-size: 1.8rem;
  cursor: pointer;
  background-color: transparent;
}
.feature button:hover {
  background-color: #111111;
}
.feature__direction-prev {
  left: 3%;
}
.feature__direction-next {
  right: 5%;
}

.home__blog {
  margin: 70px 0 50px 0;
}
.home__blog-header {
  font-size: 2.5rem;
  margin-bottom: 35px;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
}
.home__blog-header::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  bottom: -3px;
  background-color: #ce0003;
}
.home__blog-item {
  background: #ffffff;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 20px;
}
.home__blog-item:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}
.home__blog-item-info {
  padding: 10px;
}
.home__blog-item-title {
  font-size: 1.4rem;
  line-height: 1.3;
  font-weight: 500;
}
.home__blog-item-summary {
  font-size: 1.3rem;
  line-height: 1.3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  margin: 10px 0;
  color: #666;
}
.home__blog-item-source {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
  font-size: 1.2rem;
}
.home__blog-item-readmore {
  height: 40px;
  padding-left: 10px;
  margin: 0 auto;
  cursor: pointer;
  background-color: transparent;
  font-size: 1.5rem;
  outline: none;
  border: none;
}
.home__blog-item-readmore:hover {
  display: inline-block;
  color: #ce0003;
}
.home__blog-viewmore {
  margin: 30px 0 20px 0;
  text-align: center;
}
.home__blog-viewmore a {
  display: inline-block;
  font-size: 1.8rem;
  text-transform: uppercase;
  color: #111111;
  border: 1px solid currentColor;
  padding: 10px 12px;
  transition: all 0.5s;
}
.home__blog-viewmore a:hover {
  color: #ffffff;
  background-color: #111111;
}

.services {
  margin: 80px 0 50px 0;
}
.services__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-bottom: 30px;
  cursor: pointer;
}
.services__icon {
  font-size: 3.5rem;
  margin-right: 25px;
}
.services__name {
  font-size: 2rem;
  color: #111111;
  font-weight: 500;
  margin-bottom: 10px;
}
.services__desc {
  font-size: 1.5rem;
  color: #666;
}

#scroll-to-top {
  position: fixed;
  bottom: 100px;
  right: 50px;
  font-size: 20px;
  background-color: transparent;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #111111;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  z-index: 1000;
}
#scroll-to-top:hover {
  background-color: #ffffff;
}

.footer {
  padding-top: 30px;
  border-top: 1px solid #111111;
}
.footer__about {
  margin-top: 20px;
}
.footer__about-desc {
  font-size: 1.2rem;
  margin-top: -20px;
  line-height: 1.3;
  color: #666;
}
.footer__about-payment {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
}
.footer__about-payment a {
  margin: 0 5px;
  width: 40px;
  height: 40px;
}
.footer__logo {
  width: 100px;
  height: 100px;
  margin-top: -30px;
}
.footer__widget {
  margin-top: 20px;
}
.footer__widget h6 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  font-weight: 500;
  text-transform: uppercase;
}
.footer__widget li {
  font-size: 1.4rem;
  margin-bottom: 15px;
}
.footer__widget li a {
  color: #666;
  transition: all 0.2s;
}
.footer__widget li a:hover {
  color: #111111;
  text-decoration: underline;
}
.footer__newsletter {
  margin-top: 20px;
}
.footer__newsletter h6 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  font-weight: 500;
  text-transform: uppercase;
}
.footer__newsletter-form {
  position: relative;
}
.footer__newsletter-form input {
  width: 100%;
  padding: 8px 15px;
  border-radius: 30px;
  font-size: 1.6rem;
  outline: none;
  border: 1px solid #666;
}
.footer__newsletter-form button {
  position: absolute;
  border-radius: 30px;
  right: 0;
  color: #ffffff;
  font-size: 1.5rem;
  background-color: #ce0003;
  width: 120px;
  height: 100%;
  cursor: pointer;
  border: none;
  outline: none;
}
.footer__social {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-top: 20px;
}
.footer__social a {
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.1);
  margin: 0 10px;
  text-align: center;
  border-radius: 50%;
  transition: all 0.5s ease;
}
.footer__social a:hover {
  background: #111111;
  color: #ffffff;
}
.footer__social i {
  line-height: 40px;
  font-size: 1.7rem;
}
.footer__copyright {
  border-top: 1px solid #e1e1e1;
  padding: 18px 0 25px;
  text-align: center;
  margin-top: 35px;
}

.page__path {
  margin-top: 119px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
}
.page__path-home {
  display: inline-block;
  color: #111111;
  font-size: 1.5rem;
}
.page__path-home i {
  margin-right: 5px;
}
.page__path-arow-icon {
  margin: 0 3px;
}
.page__path-cur {
  font-size: 1.4rem;
  color: #666;
}

.shop {
  padding: 70px 0 50px 0;
}
.shop__sidebar {
  margin-right: 30px;
}

.sidebar__title {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 25px;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
}
.sidebar__title::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  bottom: -3px;
  background-color: #ce0003;
}

.sidebar-categories {
  margin-bottom: 35px;
}
.sidebar-categories__item {
  margin: 15px 0;
  border-bottom: 1px solid #ccc;
}
.sidebar-categories label {
  font-size: 1.5rem;
  color: #111111;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}
.sidebar-categories label i {
  font-size: 1.5rem;
  color: #111111;
  margin-left: 5px;
}
.sidebar-categories__list {
  display: none;
}
.sidebar-categories__sub-item {
  padding: 8px 10px;
  font-size: 1.3rem;
  color: #666;
  cursor: pointer;
  transition: all 0.5s;
}
.sidebar-categories__sub-item:hover {
  transform: translateX(5px);
  background-color: #f8f8f8;
}

#sidebar-categories__cosmetic,
#sidebar-categories__kid,
#sidebar-categories__accessories,
#sidebar-categories__women,
#sidebar-categories__men {
  display: none;
}

#sidebar-categories__cosmetic:checked + .sidebar-categories__list,
#sidebar-categories__kid:checked + .sidebar-categories__list,
#sidebar-categories__accessories:checked + .sidebar-categories__list,
#sidebar-categories__men:checked + .sidebar-categories__list,
#sidebar-categories__women:checked + .sidebar-categories__list {
  display: block;
}

.sidebar-price {
  margin-bottom: 35px;
}
.sidebar-price__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}
.sidebar-price__content input[type=text] {
  width: 40%;
  padding: 7px 10px;
  border-radius: 5px;
  font-size: 1.4rem;
  outline: none;
  border: 1px solid #111111;
}
.sidebar-price__content span {
  font-size: 1.5rem;
}

.sidebar-color,
.sidebar-offer {
  margin-bottom: 25px;
}
.sidebar-color__item,
.sidebar-offer__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-bottom: 10px;
}
.sidebar-color__item input,
.sidebar-offer__item input {
  margin-right: 15px;
  width: 15px;
  height: 15px;
}
.sidebar-color__item label,
.sidebar-offer__item label {
  font-size: 1.4rem;
  cursor: pointer;
}

.sidebar-control {
  padding: 15px 0;
  border-top: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
  flex-direction: row;
}
.sidebar-control button {
  width: 48%;
  padding: 12px 18px;
  font-size: 1.3rem;
  font-weight: 500;
  border-radius: 24px;
  text-align: center;
  cursor: pointer;
}
.sidebar-control button:hover {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}
.sidebar-control-cancel {
  background: transparent;
}
.sidebar-control-apply {
  background-color: #111111;
  color: #ffffff;
}

.pagination__option {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-top: 30px;
}
.pagination__option-link {
  width: 40px;
  height: 40px;
  background-color: #f8f8f8;
  margin: 0 10px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  font-size: 1.6rem;
  font-weight: 500;
  color: #111111;
  cursor: pointer;
}
.pagination__option-link.active {
  background-color: #111111;
  color: #ffffff;
}

.blog {
  width: 100%;
  margin-bottom: 50px;
}
.blog__header {
  margin: 20px 0 50px 0;
}
.blog__header h1 {
  font-size: 2.5rem;
  font-weight: 500;
}
.blog__header p {
  margin-top: 15px;
  font-size: 1.6rem;
  font-style: italic;
}
.blog__item {
  border-radius: 15px;
  background-color: #ffffff;
  margin: 10px 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.4s;
  position: relative;
  z-index: 10;
}
.blog__item:hover {
  transform: scale(1.01);
}
.blog__item-more {
  position: absolute;
  right: 20px;
  top: 15px;
}
.blog__item-more::after {
  position: absolute;
  content: "";
  width: 100px;
  height: 20px;
  background: transparent;
  top: 18px;
  right: -10px;
}
.blog__item-more:hover .blog__item-more-list {
  display: block;
}
.blog__item-more-icon {
  font-size: 3rem;
  color: #ffffff;
  cursor: pointer;
}
.blog__item-more-list {
  position: absolute;
  background-color: #ffffff;
  width: 180px;
  border-radius: 15px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
  right: 0;
  top: 40px;
  overflow: hidden;
  display: none;
}
.blog__item-more-item {
  font-size: 1.3rem;
  padding: 8px 10px;
  margin: 10px 0;
}
.blog__item-more-item i {
  font-size: 1.8rem;
  margin-right: 15px;
}
.blog__item-more-item:hover {
  background-color: #f8f8f8;
}
.blog__item-img {
  width: 100%;
  height: 300px;
  border-radius: inherit;
}
.blog__item-img img {
  border-radius: 15px 15px 0 0;
  height: 100%;
  object-fit: cover;
}
.blog__item-info {
  padding: 20px;
}
.blog__item-title {
  margin-bottom: 15px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.3;
  height: 40px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
}
.blog__item-summary {
  font-size: 1.3rem;
  line-height: 1.4;
  margin-bottom: 10px;
  height: 38px;
  color: #666;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
}
.blog__item-source {
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
}
.blog__item-source span {
  margin: 0 5px;
}
.blog__item-published {
  font-size: 1.3rem;
}

.left-to-right {
  transform: translateX(-250%);
  transition: all 1s;
}

.right-to-left {
  transform: translateX(250%);
  transition: all 1s;
}

.start-showing {
  transform: translateX(0);
}

.product-page {
  margin: 50px 0 70px 0;
}
.product-page__img {
  width: 100%;
  position: relative;
  margin-bottom: 30px;
}
.product-page__img-thumb {
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  height: 500px;
}
.product-page__img-list {
  width: 100%;
  height: 100px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}
.product-page__img-item {
  cursor: pointer;
  width: calc(20% - 7.5px);
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
}
.product-page__img-item.active {
  border: 3px solid #111111;
}
.product-page__img-btn {
  position: absolute;
  top: 40%;
  color: #ffffff;
  font-size: 1.6rem;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  border: 1px solid currentColor;
}
.product-page__img-btn:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
.product-page__img-prev {
  left: 5%;
}
.product-page__img-next {
  right: 5%;
}
.product-page__info {
  padding-left: 10px;
}
.product-page__info-auth {
  font-size: 1.3rem;
  margin: 10px 0 10px 0;
  font-weight: 400;
  color: #666;
}
.product-page__info-auth strong {
  font-size: 1.5rem;
  font-weight: 500;
  color: #111111;
  cursor: pointer;
}
.product-page__info-auth strong:hover {
  position: relative;
  display: inline-block;
}
.product-page__info-auth strong:hover::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  bottom: -3px;
  background-color: #ce0003;
}
.product-page__info-name {
  font-size: 2.6rem;
  font-weight: 400;
  line-height: 1.2;
  font-weight: 500;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
}
.product-page__info-rating {
  font-size: 1.6rem;
  margin: 20px 0;
}
.product-page__info-price {
  font-size: 6rem;
  font-weight: 500;
  margin: 25px 0;
}
.product-page__info-price-old {
  font-size: 3rem;
  color: #666;
  text-decoration: line-through;
  margin-right: 15px;
}
.product-page__info-price-cur {
  font-weight: 600;
}
.product-page__info-color {
  margin: 40px 0 20px;
}
.product-page__info-color p {
  font-size: 1.8rem;
  font-weight: 400;
  margin: 0 10px 20px 0;
}
.product-page__info-color p span {
  font-size: 2rem;
  font-weight: 500;
  margin-left: 5px;
}
.product-page__info-color-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
}
.product-page__info-color-item {
  width: 30px;
  height: 30px;
  margin-right: 20px;
  border: 3px solid #000;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
.product-page__info-color-item::after {
  position: absolute;
  content: "";
  width: 36px;
  height: 36px;
  display: none;
  border: 3px solid #000;
  background-color: transparent;
  z-index: 2;
}
.product-page__info-color-item:nth-child(1) {
  background-color: #fff;
}
.product-page__info-color-item:nth-child(2) {
  background-color: #000;
}
.product-page__info-color-item:nth-child(3) {
  background-color: #790000;
}
.product-page__info-color-item:nth-child(4) {
  background-color: #1e2841;
}
.product-page__info-color-item:nth-child(5) {
  background-color: #82c4e4;
}
.product-page__info-color-item:nth-child(6) {
  background-color: #9c6062;
}
.product-page__info-color-item.selected::after {
  display: block;
}
.product-page__info-size {
  margin: 40px 0 20px;
}
.product-page__info-size p {
  font-size: 1.8rem;
  font-weight: 400;
  margin: 0 20px 20px 0;
}
.product-page__info-size p span {
  font-size: 2rem;
  font-weight: 500;
  margin-left: 5px;
}
.product-page__info-size-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
}
.product-page__info-size-item {
  width: 80px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  margin-right: 20px;
  background-color: #f4f4f4;
  cursor: pointer;
  border: 2px solid transparent;
}
.product-page__info-size-item:hover {
  border: 2px solid #111111;
}
.product-page__info-size-item.selected {
  border: 2px solid #111111;
}
.product-page__info-quantity {
  margin: 40px 0 20px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
}
.product-page__info-quantity p {
  font-size: 1.8rem;
  font-weight: 400;
  margin: 20px 0;
}
.product-page__info-quantity span {
  font-size: 2.5rem;
  line-height: 40px;
  cursor: pointer;
  user-select: none;
  width: 40px;
  height: 40px;
  display: inline-block;
  text-align: center;
}
.product-page__info-quantity-input {
  width: 80px;
  height: 40px;
  font-size: 2rem;
  text-align: center;
}
.product-page__info-button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100%;
  margin-top: 24px;
}
.product-page__info-button button {
  width: 45%;
  height: 50px;
  border-radius: 20px;
  font-size: 1.7rem;
  cursor: pointer;
  text-transform: uppercase;
  border: none;
  outline: none;
  background-color: #111111;
  color: #ffffff;
}
.product-page__info-button button:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.product-page__info-button button:active {
  transform: scale(0.98);
}
.product-page__details {
  margin-top: 80px;
}
.product-page__details-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
  font-size: 1.8rem;
  position: relative;
  margin-bottom: 25px;
}
.product-page__details-header-panel {
  margin-right: 36px;
  cursor: pointer;
  font-weight: 500;
}
.product-page__details-header-line {
  position: absolute;
  height: 3px;
  width: 0%;
  left: 0;
  transition: all 0.5s;
  background-color: #111111;
  border-radius: 10px;
  bottom: -6px;
}
.product-page__details-content {
  padding: 20px;
  border: 1px solid #111111;
  border-radius: 8px;
}
.product-page__details-content-item {
  display: none;
}
.product-page__details-content-item h4 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: #111111;
  font-weight: 500;
}
.product-page__details-content-item p {
  font-size: 1.4rem;
  line-height: 1.5;
  color: #666;
}
.product-page__details-content-item.active {
  display: block;
}
.product-page__details-reviews h4 {
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
.product-page__details-review {
  margin-bottom: 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}
.product-page__details-review-rating {
  font-size: 1.6rem;
  margin-bottom: 15px;
}
.product-page__details-review-text {
  font-size: 1.8rem;
  font-weight: 500;
  margin: 10px 0;
  line-height: 1.4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
}
.product-page__details-review-img {
  width: 50%;
  height: 100px;
  margin-bottom: 20px;
  overflow: hidden;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
}
.product-page__details-review-img-item {
  margin-right: 10px;
  border-radius: 10px;
  overflow: hidden;
}
.product-page__details-review-img img {
  width: 100px;
}
.product-page__details-review-user {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-bottom: 20px;
}
.product-page__details-review-user-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}
.product-page__details-review-user-published, .product-page__details-review-user-name {
  font-weight: 400;
  font-size: 1.4rem;
  margin-right: 10px;
}
.product-page__details-review-helpful {
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
  text-align: left;
}

.similar {
  margin-top: 50px;
  margin-bottom: 70px;
  position: relative;
}
.similar__header {
  font-size: 2.4rem;
  text-transform: uppercase;
  margin-bottom: 35px;
  position: relative;
  display: inline-block;
}
.similar__header::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  bottom: -3px;
  background-color: #ce0003;
}
.similar__wrapper {
  max-width: 1200px;
  overflow-y: hidden;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: both;
}
.similar__wrapper::-webkit-scrollbar {
  display: none;
}
.similar__list {
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
  position: relative;
}
.similar__item {
  width: 282px;
  height: 400px;
  margin-right: 24px;
  background-color: #fff;
  cursor: pointer;
  scroll-snap-align: start;
}
.similar__item-info {
  padding: 10px;
}
.similar__item-name {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
}
.similar__item-auth {
  font-size: 1.3rem;
  color: #666;
  margin: 15px 0 10px 0;
}
.similar__item-price {
  font-size: 2rem;
  font-weight: 600;
}
.similar button {
  position: absolute;
  top: 40%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  outline: none;
  background: transparent;
  font-size: 2.5rem;
  border: 2px solid #fff;
  color: #ffffff;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.4);
}
.similar button:hover {
  color: #ffffff;
}
.similar__direction-prev {
  left: 10%;
}
.similar__direction-next {
  right: 10%;
}

.favorite__header {
  margin: 20px 0 50px 0;
}
.favorite__header h1 {
  font-size: 2.5rem;
  font-weight: 500;
}
.favorite__header p {
  margin-top: 15px;
  font-size: 1.6rem;
  font-style: italic;
}
.favorite__item {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  position: relative;
}
.favorite__icon-cart, .favorite__icon-favo {
  text-align: center;
  line-height: 30px;
  color: #ffffff;
  font-size: 1.3rem;
  cursor: pointer;
  transition: all 0.2s;
  position: absolute;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  right: 10px;
  position: absolute;
  background-color: #000;
  transition: all 0.2s;
}
.favorite__icon-cart:hover, .favorite__icon-favo:hover {
  transform: scale(1.2);
}
.favorite__icon-favo {
  top: 10px;
}
.favorite__icon-favo.active {
  background-color: #ce0003;
}
.favorite__icon-cart {
  top: 46px;
}
.favorite__details {
  padding: 10px;
}
.favorite__details-title {
  font-size: 1.8rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  line-height: 1.3;
  height: 42px;
}
.favorite__details-auth {
  font-size: 1.4rem;
  color: #666;
  margin: 20px 0;
}

.cart__header {
  margin: 20px 0 50px 0;
}
.cart__header h1 {
  font-size: 2.5rem;
  font-weight: 500;
}
.cart__list {
  padding-right: 20px;
  margin-bottom: 30px;
}
.cart__item {
  height: 130px;
  padding: 15px 0;
  border-bottom: 1px solid #666;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
}
.cart__item:nth-child(1) {
  border-top: 1px solid #666;
}
.cart__item-img {
  flex: 1;
  width: 100px;
  height: 100px;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 20px;
}
.cart__item-details {
  flex: 2;
}
.cart__item-details-name {
  font-size: 1.8rem;
  font-weight: 500;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
}
.cart__item-details-style {
  font-size: 1.5rem;
}
.cart__item-details-style-color {
  margin: 15px 0;
}
.cart__item-details-style-color span {
  margin-left: 5px;
  font-weight: 500;
}
.cart__item-details-style-size span {
  font-weight: 500;
  margin-left: 5px;
}
.cart__item-quantity {
  flex: 1;
  width: 100px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
  text-align: center;
  font-size: 2rem;
  margin-right: 50px;
  user-select: none;
}
.cart__item-quantity span {
  width: 30px;
  cursor: pointer;
}
.cart__item-quantity input {
  font-size: 2rem;
  width: 60px;
  height: 100%;
  border-radius: 5px;
  outline: none;
  text-align: center;
}
.cart__item-price {
  flex: 1;
  width: 100px;
  text-align: left;
  font-size: 2.4rem;
  font-weight: 500;
  margin-right: 80px;
}
.cart__item-delete {
  font-size: 3rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f8f8f8;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  transition: 0.2s;
  flex-shrink: 0;
}
.cart__item-delete:hover {
  background-color: #111111;
  color: #ffffff;
}
.cart__total {
  background-color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 20px;
}
.cart__total-coupon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
  height: 36px;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #666;
}
.cart__total-coupon input {
  width: 100%;
  height: 100%;
  padding-right: 40px;
  padding-left: 10px;
  outline: none;
  border: none;
  font-size: 1.4rem;
}
.cart__total-coupon button {
  position: absolute;
  right: 0;
  width: 60px;
  height: 100%;
  border: none;
  outline: none;
  background-color: #111111;
  color: #ffffff;
  font-size: 1.4rem;
  cursor: pointer;
}
.cart__total-product {
  margin-top: 20px;
  border-bottom: 1px solid #666;
}
.cart__total-product-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 10px;
}
.cart__total-product-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.cart__total-product-item-name {
  width: 70%;
  font-size: 1.4rem;
  line-height: 1.3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
}
.cart__total-product-item-quantity {
  font-size: 1.6rem;
  font-weight: 500;
}
.cart__total-product-item-price {
  font-weight: 600;
  font-size: 1.5rem;
}
.cart__total-subtotal {
  margin: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}
.cart__total-subtotal-name {
  font-size: 1.4rem;
  font-weight: 500;
}
.cart__total-subtotal-price {
  font-weight: 600;
  font-size: 1.5rem;
}
.cart__total-shipping {
  padding-bottom: 15px;
  border-bottom: 1px solid #666;
  margin: 15px 0;
}
.cart__total-shipping-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-bottom: 10px;
}
.cart__total-shipping-item input {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}
.cart__total-shipping-item label {
  flex-grow: 1;
  cursor: pointer;
  user-select: none;
  font-size: 1.4rem;
}
.cart__total-shipping-name {
  font-size: 1.4rem;
  font-weight: 500;
}
.cart__total-shipping-price {
  font-weight: 600;
  font-size: 1.5rem;
}
.cart__total-total {
  margin: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}
.cart__total-total-name {
  font-size: 1.8rem;
  font-weight: 600;
}
.cart__total-total-price {
  font-weight: 600;
  font-size: 1.8rem;
}
.cart__total-btn button {
  width: 100%;
  margin: 10px 0;
  height: 40px;
  font-size: 1.6rem;
  outline: none;
  border: none;
  background-color: #000;
  color: #ffffff;
  border-radius: 15px;
  cursor: pointer;
}

.checkout__header {
  margin: 20px 0 50px 0;
}
.checkout__header h1 {
  font-size: 2.5rem;
  font-weight: 500;
}
.checkout__form-group {
  margin-bottom: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: column;
}
.checkout__form-group label {
  font-size: 1.6rem;
}
.checkout__form-group label span {
  color: red;
}
.checkout__form-group input {
  width: 100%;
  height: 40px;
  outline: none;
  border: 1px solid #111111;
  font-size: 1.5rem;
  padding: 0 10px;
  border-radius: 5px;
  margin-top: 10px;
}
.checkout__form-group select {
  width: 100%;
  height: 40px;
  outline: none;
  border: 1px solid #111111;
  font-size: 1.5rem;
  padding: 0 10px;
  border-radius: 5px;
  margin-top: 10px;
}
.checkout__form-group textarea {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 150px;
  margin-top: 10px;
  padding: 10px;
  font-size: 1.8rem;
  resize: none;
  border-radius: 5px;
  outline: none;
  background: #f8f8f8;
  transition: 0.5s;
}
.checkout__form-group textarea:focus {
  background: #fff;
}
.checkout__card {
  background-color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
}
.checkout__card-header {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 500;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #666;
}
.checkout__card-product {
  border-bottom: 1px solid #666;
}
.checkout__card-product h2 {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 15px;
}
.checkout__card-product-item {
  font-size: 1.6rem;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}
.checkout__card-product-item-name {
  width: 70%;
  line-height: 1.3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
}
.checkout__card-product-item-price {
  font-weight: 500;
  font-size: 1.5rem;
}
.checkout__card-shipping, .checkout__card-subtotal {
  margin: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}
.checkout__card-shipping-name, .checkout__card-subtotal-name {
  font-size: 1.4rem;
  font-weight: 500;
}
.checkout__card-shipping-price, .checkout__card-subtotal-price {
  font-weight: 600;
  font-size: 1.5rem;
}
.checkout__card-total {
  margin: 15px 0;
  border-bottom: 1px solid #666;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}
.checkout__card-total-name {
  font-size: 1.8rem;
  font-weight: 600;
}
.checkout__card-total-price {
  font-weight: 600;
  font-size: 1.8rem;
}
.checkout__card-payment-heading {
  font-size: 1.4rem;
  font-weight: 500;
}
.checkout__card-payment-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
  height: 50px;
  width: 60px;
  margin-top: 10px;
}
.checkout__card-payment-item input {
  margin-right: 10px;
}
.checkout__card-payment-item label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
}
.checkout__card-payment-item label span {
  margin-right: 10px;
  font-size: 1.6rem;
  font-weight: 500;
}
.checkout__card-payment-item label img {
  width: 40%;
  height: 80%;
  object-fit: cover;
  cursor: pointer;
}
.checkout__card-payment-item:last-child img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  cursor: pointer;
}
.checkout__card-btn button {
  width: 100%;
  margin: 10px 0;
  height: 44px;
  font-size: 1.6rem;
  outline: none;
  border: none;
  background-color: #000;
  color: #ffffff;
  border-radius: 15px;
  cursor: pointer;
}

.about {
  margin-top: 94px;
  overflow: hidden;
}
.about__banner {
  position: relative;
}
.about__banner-img {
  filter: brightness(80%);
}
.about__banner-content {
  position: absolute;
  width: 50%;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 100px;
  color: #ffffff;
}
.about__banner-content h1 {
  font-size: 7rem;
  margin-bottom: 15px;
}
.about__banner-content p {
  font-size: 1.6rem;
  line-height: 1.4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
}
.about__banner-content a {
  display: inline-block;
  margin-top: 20px;
  font-size: 1.6rem;
  color: #ffffff;
  position: relative;
  display: inline-block;
}
.about__banner-content a::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  bottom: -3px;
  background-color: #ce0003;
}
.about__story {
  margin-top: 50px;
}
.about__story-content {
  margin-bottom: 50px;
  padding-top: 100px;
}
.about__story-content h1 {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.about__story-content p {
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 300;
  text-align: justify;
}
.about__story-img {
  border-radius: 10px;
  overflow: hidden;
}
.about__member {
  margin-top: 80px;
}
.about__member-title {
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.about__member-item {
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.about__member-img {
  height: 400px;
}
.about__member-info {
  padding: 10px 20px;
  text-align: center;
}
.about__member-name {
  font-size: 1.8rem;
  font-weight: 500;
}
.about__member-desc {
  font-size: 1.3rem;
  line-height: 1.5;
  font-weight: 300;
  margin-top: 5px;
  color: #666;
}
.about__member-social {
  padding: 0 20px;
  margin: 15px 0 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
  flex-direction: row;
  font-size: 2rem;
}
.about__member-social a {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
}
.about__member-social a:hover {
  background-color: #f8f8f8;
}
.about__contact {
  margin-top: 80px;
}
.about__contact-title {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 20px;
}
.about__contact-phone h1, .about__contact-address h1 {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 5px;
}
.about__contact-phone p, .about__contact-address p {
  font-size: 1.4rem;
  line-height: 1.3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
}
.about__contact-form {
  margin-top: 20px;
}
.about__contact-form-input input {
  height: 40px;
  padding: 0 15px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #666;
}
.about__contact-form-input textarea {
  margin-top: 20px;
  width: 100%;
  resize: none;
  outline: none;
  padding: 10px;
}
.about__contact-form-input button {
  margin-top: 20px;
  width: 100%;
  height: 40px;
  outline: none;
  border: none;
  font-size: 1.6rem;
  background-color: #000;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
